#mid_frame{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    background-color: rgb(255, 0, 0);
    overflow-x: hidden;
}
#mid_left_frame{
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 187, 187);
    overflow-x: hidden;
}
#mid_main_frame{
    height: 100%;
    width: 80%;
    position: absolute;
    top: 0;
    left: 20%;
    background-color: rgb(255, 112, 112);
    overflow-x: hidden;
}
