<html lang="en">
	<head>
		<title>Mail data visualization</title>
		<meta charset="utf-8">
        <!-- CSS style file -->
		<!-- CSS style file -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="{{url_for('static',filename='./css/out_frame.css')}}">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        
		
        <!--<script type="module" src="{{url_for('static',filename='Layout.js')}}"></script>-->

		<script>
			$(document).ready(function(){
				console.log("reload first page");
				//var conditions = localStorage.getItem('recordConditionText');
				var conditions = "test conditions passing varialbes"
				$.post( "/postmethod_condition", {
					javascript_data: conditions 
				});
				
				//$('#mid_all_frame').load("./table.html");
				$('#mid_all_frame').load("./table.html");
				$('#top_frame').load("./filter.html");
			});


		</script>		
		
	</head>
	<body>
		<div id="main_interface">


			<div id ="top_frame">
                <div id ="tag_frame">
                </div>            
			</div>
			<div id ="top_line_frame">
			</div>

            <!-- content in here-->
			<div id ="mid_all_frame">
            </div>

            <!-- button and copy right-->
			<div id ="bot_frame">
			</div>
			<div id ="bot_copyright_frame">
            </div>
		</div>

	</body>
</html>
